* {

    padding: 0;
    margin: 0;
}

.pare{
    width: 100%;
    height: 990px;
    background-image: url(imatges/1.jpg);
    background-size: 1000px;
    background-color: black;

}


.titol {
    width: 80%;
    height: 8%;
    margin-left: 10%;
    background-color:aquamarine;
    position: relative;
    text-align: center;
    font-size: 30px;

}

.cos{

    width: 80%;
    height: 80%;
    position: relative;
    margin-left: 10%;
    margin-top: 1%;
    margin-bottom: 1%;
    background-color: aqua;
}

.footer {

     width: 80%;
    height: 8%;
    margin-left: 10%;
    background-color:aquamarine;
    position: relative;

}

.Practiques {

    width: 100%;
    height: 20%;
    background-color: black;
    position: absolute;
    margin-top: 600px;
}
.praid{
    position: relative;
    width: 100%;
    height: 100%;
}
#id_1{
    width: 50%;
    background-color: aliceblue;
    position: absolute;
    margin-left: 25%;
}
#id_2{
    width: 50%;
    background-color: aliceblue;
    position: absolute;
    margin-left: 25%;
    margin-top: 22px;
}

#id_3{
    width: 50%;
    background-color: aliceblue;
    position: absolute;
    margin-left: 25%;
    margin-top: 44px;
}

#id_5{
    width: 50%;
    background-color: aliceblue;
    position: absolute;
    margin-left: 25%;
    margin-top: 66px;
}

#id_6{
    width: 50%;
    background-color: aliceblue;
    position: absolute;
    margin-left: 25%;
    margin-top: 88px;
}

#id_7{
    width: 50%;
    background-color: aliceblue;
    position: absolute;
    margin-left: 25%;
    margin-top: 110px;
}


.imatge{
     width: 50%;
    height: 40%;
    position: absolute;
    background-color: bisque;

}
